*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #424254;
}
a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a i{
    color: #fff;
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #23232e;
    /* vh é viewport-height, se adapta a altura da janela do usuário */
    height: 10vh;
}
#txtpesquisa{
    height: 30px;
    width: 200px;
    border-radius: 10px;
}
main{
    background: #23232e;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    margin-right: 32px;
}
.mobile-menu{
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}
.main-content{
    width: 100%;
    height: fit-content;
    background-color:#424254;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}
.main-content h1{
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.serv1{
    display: flex;
    justify-content: center;
    background-color:#424254;
    justify-content: space-evenly;
}
.VM{
    background-color: #424254;
}
.VM ul{
    display: flex;
    justify-content: center;
    margin-left: 70px;
    justify-content: space-between;
    background-color:#23232e;
    width: fit-content;
    border-radius: 4px;
}
.VM ul li{
    margin-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.serv1 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 30px 70px;
}
.serv1 img{
    padding: 20px 70px;
    width: 400px;
    height: 200px;
    border-radius: 8px;
}
.CB{
    background-color: #424254;
}
.CB ul{
    display: flex;
    justify-content: center;
    margin-left: 37%;
    margin-right: 25%;
    background-color: #23232e;
    justify-content: space-between;
    width: fit-content;
    border-radius: 4px;
}
.CB ul li{
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.serv2{
    display: flex;
    justify-content: center;
    background-color:#424254;
    justify-content: space-evenly;
}
.serv2 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 30px 70px;
}
.serv2 img{
    padding: 20px 70px;
    width: 400px;
    height: 200px;
    border-radius: 8px;
}
.BD{
    background-color: #424254;
}
.BD ul{
    display: flex;
    justify-content: center;
    margin-left: 70px;
    justify-content: space-between;
    background-color:#23232e;
    width: fit-content;
    border-radius: 4px;
}
.BD ul li{
    margin-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.serv3{
    display: flex;
    justify-content: center;
    background-color:#424254;
    justify-content: space-evenly;
}
.serv3 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 30px 70px;
}
.serv3 img{
    padding: 20px 70px;
    width: 350px;
    height: 175px;
    border-radius: 8px;
}
.AUTO{
    background-color: #424254;
}
.AUTO ul{
    display: flex;
    justify-content: center;
    margin-left: 37%;
    margin-right: 25%;
    background-color: #23232e;
    justify-content: space-between;
    width: fit-content;
    border-radius: 4px;
}
.AUTO ul li{
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.serv4{
    display: flex;
    justify-content: center;
    background-color:#424254;
    justify-content: space-evenly;
}
.serv4 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 30px 70px;
}
.serv4 img{
    padding: 20px 70px;
    width: 400px;
    height: 200px;
    border-radius: 8px;
}
.AD{
    background-color: #424254;
}
.AD ul{
    display: flex;
    justify-content: center;
    margin-left: 70px;
    justify-content: space-between;
    background-color:#23232e;
    width: fit-content;
    border-radius: 4px;
}
.AD ul li{
    margin-left: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.serv5{
    display: flex;
    justify-content: center;
    background-color:#424254;
    justify-content: space-evenly;
}
.serv5 p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding: 30px 70px;
}
.serv5 img{
    padding: 20px 70px;
    width: 400px;
    height: 200px;
    border-radius: 8px;
}




.volta{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: #424254;
}
.volta-inner {
    width: 150px;
    height: 25px;
    border-radius: 4px;
    background-color: #23232e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    width: 100%;
    height: 200px;
    background-color: #23232e;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot footer h4{
    color: #fff;
}
